.loading, .error {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.shop {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 32px;
    flex-wrap: wrap;
    gap: 30px;
}